# The base URL to send all SDK requests to (default graph.facebook.com).
# This variable should not be used unless necessary for development or special routing needs.
WA_BASE_URL=graph.facebook.com

# Your Meta for Developers app Id.
M4D_APP_ID=584830650846380

# Your Meta for Developers Business app secret.
M4D_APP_SECRET=d8ab100f60e100cfd93674f1c2598960

# Your WhatsApp phone number Id (sender).
# WA_PHONE_NUMBER_ID=556742984185234
WA_PHONE_NUMBER_ID=559445440587684

# Your WhatsApp business account Id.
# WA_BUSINESS_ACCOUNT_ID=552997457897589
WA_BUSINESS_ACCOUNT_ID=572073832650580

# System user access token. Recommended: Do not use a temporary access token.
CLOUD_API_ACCESS_TOKEN=EAAIT5n8yjKwBOZBIGZC5xrwArMCJlkjqTzajRgZAl0tZCOKafqVoPZAVZCoCW41arHFvTZCBbhmuz5fiZAvH3E7U5jiJofcUfLGm8jItDrUwsZB7ofm22Terk5RrQ2Nkvp8nL99N1YwNJYMmiHFcwUAHxEZCGP8NLrKqZCggdxKkotmJiEH78insMWdiche0aL73UkDbwZDZD

# Cloud API version number.
CLOUD_API_VERSION=v21.0

# Customize your incoming webhook listener endpoint. Path should be
# https://{host}/{WEBHOOK_ENDPOINT}. A trailing slash is not added by default,
# so the variable should include that if it's required by your API gateway.
WEBHOOK_ENDPOINT=

# A custom verification token string to validate incoming webhook payloads.
# Needs to match webhook configuration.
WEBHOOK_VERIFICATION_TOKEN=

# Override the default app listener port (port 3000).
LISTENER_PORT=

# Turn on global debug logging
DEBUG=

# The number of request retries after waiting (default 30 retries)
MAX_RETRIES_AFTER_WAIT=

# The timeout period in milliseconds for a request to wait for a response (default 20000ms)
REQUEST_TIMEOUT=

JWT_SECRET=secret

# Database configuration
DB_NAME=wa_api
DB_USER=postgres

# Cloudinary configuration
CLOUDINARY_API_SECRET="xsCTf8IQc8q5y2eI81DhE61YLrg"
CLOUDINARY_API_KEY="325753497721661"
CLOUDINARY_CLOUD_NAME="dmxfvidee"

CLOUDINARY_URL=cloudinary://325753497721661:xsCTf8IQc8q5y2eI81DhE61YLrg@dmxfvidee


DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_DIALECT=postgres
CLIENT_URL=http://localhost:3000,http://localhost:5173

SMTP_USER=udibagas@gmail.com
SMTP_PASSWORD="lfim rhla fqqn pmdo"
WA_NUMBER=6285138388850